header {
  border-bottom: 4px solid #9782ad;
}

.wrapper {
  max-width: 970px;
  margin: 0 auto;
}

.wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  margin-top: 8px;
  margin-left: -50px;
  margin-bottom: 18px;
}

.logo img {
  width: 330px;
  height: 330px;
}

.leftText {
  text-transform: uppercase;
  margin-left: 130px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.leftText h2 {
  font-size: 38px;
  font-weight: 400;
  color: #9782ad;
  margin-top: 16px;
}

.promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 17px;
  margin-bottom: 17px;
}

.logoText {
  text-transform: uppercase;
}

.logoText h3 {
  font-weight: 400;
  margin-left: 10px;
  color: #9782ad;
}

.menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menuItems {
  margin-left: 55px;
}

.menuItems i {
  margin-right: 4px;
  color: #9782ad;
}

.menuLink {
  color: #9782ad;
}

.menuLink:hover {
  color: #424243;
}

.banerWrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner {
  width: 970px;
  height: 461px;
  background-image: url(img/fon.png);
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

button {
  width: 27px;
  height: 54px;
  background: #82699d;
  border: none;
}

button:hover {
  background: #a796ba;
  cursor: pointer;
}

.leftArr {
  margin-top: -5px;
}

.leftArr i {
  margin-left: -3px;
  font-size: 40px;
  color: #e9e9e9;
}

.leftRight {
  margin-left: -28px;
  margin-top: -5px;
}

.leftRight i {
  margin-left: -3px;
  font-size: 40px;
  color: #e9e9e9;
}

.bannerText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #979797;
  border-top: 1px solid #979797;
}

.importantText {
  width: 746px;
  color: #424243;
  text-align: center;
  line-height: 1.85em;
}

.importantText b {
  color: #9782ad;
}

.circleBanner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.circle {
  border: 5px solid #e9e9e9;
  border-radius: 50%;
  margin-left: 74px;
  margin-top: -73px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.circle img {
  width: 230px;
  border: 5px solid #dfdfdf;
  border-radius: 50%;
}

.importantParagraf {
  margin-right: 78px;
}

.contImportantPar {
  margin-left: 38px;
  margin-top: 50px;
  line-height: 1.85em;
  color: #979797;
}

.contImportantPar h3 {
  color: #424243;
}

.toBeContinued {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 8px;
}

.toBeContinued a {
  color: inherit;
}

.toBeContinued a:hover {
  color: #424243;
}

.where {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.messege {
  width: 338px;
  font-weight: 500;
  text-transform: capitalize;
  color: #424243;
}

.line {
  width: 100%;
  height: 25px;
  border-bottom: 1px solid #e9e9e9;
}

.sponsorsWrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sponsorsWrapp img {
  width: 241px;
  height: 70px;
  border: 1px solid #efefef;
}

.sponsorsWrapp a:hover {
  opacity: .75;
}

footer {
  margin-top: 33px;
  background-color: #e7e7e7;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #979797;
}

.copyright h5 {
  font-weight: 200;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fb a {
  color: #9782ad;
}

.tvit {
  margin-left: 12px;
}

.tvit a {
  color: #9782ad;
}

.violet {
  width: 100%;
  height: 5px;
  background-color: #9782ad;
}
/*# sourceMappingURL=main.css.map */